body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: black;
}

/* Header classes */
.top-bar {
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: gold solid 2px;
}

.page-title {
  margin: 0 auto;
  font-size: 35px;
  letter-spacing: 30px;
}

.primary-text {
  color: wheat;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.secondary-text {
  font-size: 30px;
  color: rgb(231, 55, 55);
  margin-top: 0px;
  padding-top: 0px;
}

.second-text-underline {
  color: wheat;
}
/* -------- BIG POSTER STYLE -----------------*/
.big-poster {
  display: flex;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px;
}

.big-poster-center {
  text-align: center;
  margin: 0 auto;
}

.big-poster-text {
  margin-bottom: 10px;
  padding: 0px;
}

.big-poster-title-description {
  color: black;
  margin-top: 30px;
  margin-bottom: 10px;
}

.big-poster-title-description-2 {
  color: black;
  margin-top: 80px;
  margin-bottom: 10px;
}

.big-poster-text-underline {
  color: rgb(0, 0, 0);
}
/* -----------------------------------------*/
/* -------- SMALL POSTER STYLE -------------*/
.small-poster {
  padding: 5px;
  border: 1px solid black;
  width: 50%;
}

/* -----------------------------------------*/

.secondary-list-item {
  color: rgb(78, 78, 78);
}

.secondary-list {
  color: red;
  font-size: 14px;
  line-height: 24px;
  margin-left: 140px;
  padding-left: 0;
  list-style-position: inside;
}
.small-poster-title-center {
  text-align: center;
}
.programming-poster {
  line-height: 30px;
}

.loader-bar {
  margin-right: 50px;
  float: right;
}

.predisposition-section {
  display: flex;
  justify-content: center;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px;
}

.pre-section-title {
  text-align: center;
  margin: 10px;
  padding: 5px;
  border-top: rgb(0, 0, 0) solid 1px;
  border-bottom: rgb(0, 0, 0) solid 1px;
}

footer {
  display: flex;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}
