body {
  margin: 30px;
  background-color: black;
  font-family: "Roboto", sans-serif;
}

a {
  color: white;
}

main {
  color: white;
}

/*========================================================================================================================================================================*/
/*========================================================================================================================================================================*/
/*===========|              NAVIGATOR CLASSES                 |===========================================================================================================*/
/*========================================================================================================================================================================*/
.main-nav {
  display: flex;
  background-color: rgba(19, 19, 19, 0.815);
  box-shadow: 1px 1px 0px rgb(124, 124, 124);
  justify-content: space-evenly;
  border-radius: 50px;

  z-index: 1;
}

.nav-title {
  text-align: center;
}

.nav-core-buttons {
  position: relative;
  align-self: center;
  z-index: 3;
}

.nav-button {
  background-color: rgba(27, 27, 27, 0.815);
  border: transparent;
}

.nav-button:hover {
  color: red;
}

.nav-logo {
  z-index: 2;
}

.nav-h2 {
  color: white;
  text-transform: uppercase;
}

.main-home {
  text-align: center;
}

.nav-stand-name {
  position: absolute;
  top: 80px;
  font-size: 25px;
  color: white;
  font-family: "Fredericka the Great", cursive;
  margin-left: 0px;
  z-index: 3;
}

/*
.main-nav {
  display: flex;
  background-color: rgba(19, 19, 19, 0.815);
  justify-content: space-between;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 1px 1px 0px rgb(124, 124, 124);
}




.nav-page-name {
  color: rgb(0, 0, 0);
}

.nav-core-buttons {
  /*right: 20px;*/
/*top: -5px;*/
/*display: flex;
}

.nav-button {
  padding: 30px;
  margin-left: 10px;
  background-color: rgba(19, 19, 19, 1);
  border: none;
  border-radius: 50px;
  color: white;
  box-shadow: 1px 1px 1px rgb(139, 139, 139);
  transition-property: border-radius;
  transition-duration: 0.5s;
}

.nav-button:hover {
  background-color: rgb(41, 41, 41);
  border-radius: 15px;
  color: red;
}
/*========================================================================================================================================================================*/
/*========================================================================================================================================================================*/
/*========================================================================================================================================================================*/
/*========================================================================================================================================================================

.primary-title {
  margin-top: 50px;
  text-align: center;
  font-family: "Fredericka the Great", cursive;
}
*/
