body {
  height: 100vh;
  margin: 10px;
  background-color: black;
  font-family: "Roboto", sans-serif;
}

a {
  color: white;
}

main {
  color: white;
}

/*========================================================================================================================================================================*/
/*========================================================================================================================================================================*/
/*===========|              NAVIGATOR CLASSES                 |===========================================================================================================*/
/*========================================================================================================================================================================*/

.main-nav {
  display: flex;
  background-color: rgba(19, 19, 19, 0.815);
  justify-content: space-between;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 1px 1px 0px rgb(124, 124, 124);
}

.nav-h2 {
  position: relative;
  top: 20px;
  left: 155px;
  font-size: 50px;
  margin-top: 0px;
  padding: 0;
  text-transform: uppercase;
  color: white;
}

.nav-stand-name {
  position: absolute;
  left: 110px;
  top: 50px;
  font-size: 30px;
  transform: rotate(-20deg);
  color: white;
  font-family: "Fredericka the Great", cursive;
  margin-left: 0px;
}

.nav-page-name {
  color: rgb(0, 0, 0);
}

.nav-core-buttons {
  right: 20px;
  top: -5px;
  display: flex;
  position: relative;
  justify-content: space-around;
}

.nav-button {
  padding: 30px;
  margin-left: 10px;
  background-color: rgba(19, 19, 19, 1);
  border: none;
  border-radius: 50px;
  color: white;
  box-shadow: 1px 1px 1px rgb(139, 139, 139);
  transition-property: border-radius;
  transition-duration: 0.5s;
}

.nav-button:hover {
  background-color: rgb(41, 41, 41);
  border-radius: 15px;
  color: red;
}
/*========================================================================================================================================================================*/
/*========================================================================================================================================================================*/
/*========================================================================================================================================================================*/
/*========================================================================================================================================================================*/

.primary-title {
  margin-top: 50px;
  text-align: center;
  font-family: "Fredericka the Great", cursive;
}
